* {
    box-sizing: border-box;
}

.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0 80px 0;
}

.aboutContainer img {
    width: 245px;
    margin-top: 5px;
    border-radius: 5px;
    rotate: 3deg;
    box-shadow: 8px 8px 0 rgb(208,196,185);
}

div p:last-child{
    line-height: 1.7;
    text-align: justify;
}

p span {
    font-size: 20px;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

.aboutContainer .intro {
    width: 430px;
    margin-left: 3%;
    background-color:  rgb(236, 232, 225);
    padding: 0 40px;
    margin-top: 5px;
    border-radius: 5px;
}

#opening {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 35px;
    color: rgb(68, 68, 68);
}

.description {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    color: rgb(68, 68, 68);
}

/* general style settings for blocks */
.blockContainer {
    margin: 10px 0;
    height: 170px;
    display: flex;
    justify-content: center;
    color: rgb(68, 68, 68);
}

.block {
    font-weight: bold;
    margin: 0 5px;
    height: 170px;
    border-radius: 15px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms;
}

.block1, .block2, .block3 {width: 25%;}
.block1 {background-color: rgb(208,196,185);}
.block2 {background-color: rgb(233,223,207);}
.block3 {background-color: rgb(199,178,168);}
.block4 {background-color: rgb(190,159,142);}
.block4{width: 20%;}
.block6 {width: 23%;}
.block5{width: 32%; background-color: rgb(208,196,185);}
.block6 {background-color: rgb(218,205,190);}
.block7, .block8 {width: 30%;}
.block7 {background-color: rgb(199,178,168);}
.block8 {background-color: rgb(214,207,199);}
.block9 {width: 15%; background-color: rgb(225,211,202);}

.block.flip {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.front {
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    transform: rotateY(180deg);
    height: 170px;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 23px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (max-width: 750px) {
    .back {
        font-size: 21px;
    }
}

.extraDescription {
    font-size: 16px;
    font-weight: 100;
}